.app {
  background-color: #282c34;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.gameField {
  background-color: white;

  display: flex;
  flex-direction: column;
}

.gameField * {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.numberPicker {
  margin-bottom: 4vh;
}

.row-2 {
  border-bottom: 5px solid grey;
}

.row-5 {
  border-bottom: 5px solid grey;
}

.col-2 {
  border-right: 5px solid grey;
}

.col-5 {
  border-right: 5px solid grey;
}

.cell {
  width: min(8vh, 10vw);
  height: min(8vh, 10vw);
  font-size: min(8vh, 10vw);

  outline: 1px solid grey;

  background-color: transparent;

  color: #000;

  user-select: none !important;

  overflow: hidden;
}

.cell .active {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  line-height: 1em;
}

.cell .content.highlight {
  color: #6666ff;
  font-weight: bold;
}

.cell .content {
  display: flex;
  flex-direction: column;

  width: 1em;
  height: 1em;
}

.cell .frow {
  display: flex;
  flex-direction: row;
}

.cell .fcell {
  display: inline-block;

  height: 1em;
  width: 1em;
  line-height: 1em;

  text-align: center;
  font-size: 0.33em;
  font-family: monospace;

  color:grey;
}

.cell .fcell.highlight {
  color: black;
  font-weight: bold;
}

.cell small {
  font-size: 0.2em;
}

.cell .picker {
  background-color: white;
}

.cell .picker-selected {
  background-color: beige;
}


.cell.hovered {
  background-color: #BBB;
}

.cell.hovered-neighbor {
  background-color: #DDD;
}

.cell.invalid {
  background-color: #FDD !important;
  color: #ff0000 !important;
}
